body {
    font-size:1em;
    line-height:1.2em;
}

article {
    max-width: 1280px;
    p {
        font-size:1em;
        line-height:2em;
    }
}

section {
    max-width: 1280px;
}

article img {
    width:100%;
}

.footer {
    color: #333;
}