body {
    font-size:1em;
    line-height:1.2em;
}

code, pre, .code, .footnotes {
    font-family: 'Cascadia Code', 'Consolas', 'Fira Code', monaco, monospace;
}

article {
    max-width: 1280px;
    p {
        font-size:1em;
        line-height:2em;
    }
}

section {
    max-width: 1280px;
}

article img {
    width:100%;
}

.footer {
    color: #333;
}

@media (prefers-color-scheme: dark){
    body {
        background:#333;
        color:white;
    }
    section ul li a {
        color:white;
    }
    h1, h2, h3, h4, h5, h6 {
        color:white;
        background:linear-gradient(90deg, #fc28a8, #03edf9);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    blockquote {
        background: #222;
    }
    code {
        color: #03edf9;
        background: #222;
    }
    time {
        color:#fff;
    }
    .footer {
        color: #fff;
    }
    article a:hover {
        color:#fc28a8;
        border-color:#fc28a8;
    }
}